<mat-toolbar>
  <span class="spacer">
    <a routerLink="/">Posts</a>
  </span>
  <ul class="nav-links">
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Add Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>

  <!-- Dark/Light mode toggle button -->
  <button mat-button (click)="toggleTheme()" style="margin-left: auto;">
    {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
  </button>
</mat-toolbar>
