.small-image {
    width: 100px;  
    height: auto;  
    border-radius: 8px;  
    margin: 10px 0;  
    object-fit: cover;  
  }
  
  mat-paginator{  
    margin-top: 1rem;  
  }  

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
  }
  
  .search-sort-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  .search-bar,
  .sort-bar {
    flex: 1;
    min-width: 200px;
  }
  